In [228]:
import pandas as pd
from tkinter import font
import matplotlib.pyplot as plt
import seaborn as sns

# Reading data

In [72]:
data = pd.read_csv("houses_to_rent.csv", index_col=0)

In [11]:
data.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [200]:
data2 = pd.read_csv("houses_to_rent_v2.csv")

In [201]:
data2.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836

In [202]:
data2.describe()

,area,rooms,bathroom,parking spaces,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
count,10692.000000,10692.000000,10692.000000,10692.000000,1.069200e+04,10692.000000,10692.000000,10692.000000,1.069200e+04
mean,149.217920,2.506079,2.236813,1.609147,1.174022e+03,3896.247194,366.704358,53.300879,5.490487e+03
std,537.016942,1.171266,1.407198,1.589521,1.559231e+04,3408.545518,3107.832321,47.768031,1.648473e+04
min,11.000000,1.000000,1.000000,0.000000,0.000000e+00,450.000000,0.000000,3.000000,4.990000e+02
25%,56.000000,2.000000,1.000000,0.000000,1.700000e+02,1530.000000,38.000000,21.000000,2.061750e+03
50%,90.000000,2.000000,2.000000,1.000000,5.600000e+02,2661.000000,125.000000,36.000000,3.581500e+03
75%,182.000000,3.000000,3.000000,2.000000,1.237500e+03,5000.000000,375.000000,68.000000,6.768000e+03
max,46335.000000,13.000000,10.000000,12.000000,1.117000e+06,45000.000000,313700.000000,677.000000,1.120000e+06

In [203]:
data2.city.unique()

array(['São Paulo', 'Porto Alegre', 'Rio de Janeiro', 'Campinas',
       'Belo Horizonte'], dtype=object)

In [204]:
data2.animal.unique()

array(['acept', 'not acept'], dtype=object)

In [207]:
data2.furniture.unique()

array(['furnished', 'not furnished'], dtype=object)

In [213]:
data3=None

In [214]:
data3=data2

In [217]:
data3.animal=data2.animal.replace('acept', True)

In [218]:
data3.animal=data3.animal.replace('not acept', False)

In [219]:
data3.furniture=data3.furniture.replace('furnished', True)

In [220]:
data3.furniture=data3.furniture.replace('not furnished', False)

In [221]:
data3.animal.unique()

array([ True, False])

In [222]:
data3.furniture.unique()

array([ True, False])

In [223]:
data3.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,True,True,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,True,False,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,True,False,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,True,False,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,False,False,0,800,25,11,836

In [224]:
data3.columns

Index(['city', 'area', 'rooms', 'bathroom', 'parking spaces', 'floor',
       'animal', 'furniture', 'hoa (R$)', 'rent amount (R$)',
       'property tax (R$)', 'fire insurance (R$)', 'total (R$)'],
      dtype='object')

In [225]:
data3 = data3.rename(columns={'parking spaces':'parking_spaces','hoa (R$)':'hoa', 'rent amount (R$)':'rent_amount',
       'property tax (R$)':'property_tax', 'fire insurance (R$)':'fire_insurance', 'total (R$)':'total'})

In [226]:
data3.head()

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,hoa,rent_amount,property_tax,fire_insurance,total
0,São Paulo,70,2,1,1,7,True,True,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,True,False,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,True,False,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,True,False,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,False,False,0,800,25,11,836

In [237]:
data3.tail()

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,hoa,rent_amount,property_tax,fire_insurance,total
10687,Porto Alegre,63,2,1,1,5,False,True,402,1478,24,22,1926
10688,São Paulo,285,4,4,4,17,True,False,3100,15000,973,191,19260
10689,Rio de Janeiro,70,3,3,0,8,False,True,980,6000,332,78,7390
10690,Rio de Janeiro,120,2,2,2,8,True,True,1585,12000,279,155,14020
10691,São Paulo,80,2,1,0,-,True,False,0,1400,165,22,1587

0         70
1        320
2         80
3         51
4         25
        ...
10687     63
10688    285
10689     70
10690    120
10691     80
Name: area, Length: 10692, dtype: int64

# Correlation

In [301]:
data4 = data3.iloc[:, [range(1,6), range(8, len(data3.columns))]]

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

In [298]:
data4

       area  rooms  bathroom  parking_spaces floor
0        70      2         1               1     7
1       320      4         4               0    20
2        80      1         1               1     6
3        51      2         1               0     2
4        25      1         1               0     1
...     ...    ...       ...             ...   ...
10687    63      2         1               1     5
10688   285      4         4               4    17
10689    70      3         3               0     8
10690   120      2         2               2     8
10691    80      2         1               0     -

[10692 rows x 5 columns]

In [234]:
def correlationPlot(plotTitle, correlationDF, size=20):
    plt.figure(figsize=(size, size))
    sns.set(font_scale = 1.5)
    ax = sns.heatmap(correlationDF, cmap='PuOr')
    ax.set_title(plotTitle, fontsize = 20)
    plt.show()

def correlationMatrix(correlationDF):
    print("\n# Correlation Matrix:\n", correlationDF)

In [267]:
correlationPlot("teste", data4)

ValueError: could not convert string to float: '-'

# Modeling